<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="msb.wxgzh.mapper.FreePlanningMapper" >
  <resultMap id="BaseResultMap" type="msb.wxgzh.pojo.FreePlanning" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_telephone" property="userTelephone" jdbcType="VARCHAR" />
    <result column="auto_code" property="autoCode" jdbcType="VARCHAR" />
    <result column="video_type" property="videoType" jdbcType="VARCHAR" />
    <result column="make_budget" property="makeBudget" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="delOrNot" property="delornot" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_name, user_sex, user_telephone, auto_code, video_type, make_budget, 
    create_id, create_name, create_time, update_time, update_id, update_name, delOrNot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from free_planning
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from free_planning
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="msb.wxgzh.pojo.FreePlanning" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into free_planning (user_id, user_name, user_sex, 
      user_telephone, auto_code, video_type, 
      make_budget, create_id, create_name, 
      create_time, update_time, update_id, 
      update_name, delOrNot)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, 
      #{userTelephone,jdbcType=VARCHAR}, #{autoCode,jdbcType=VARCHAR}, #{videoType,jdbcType=VARCHAR}, 
      #{makeBudget,jdbcType=VARCHAR}, #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT}, 
      #{updateName,jdbcType=VARCHAR}, #{delornot,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="msb.wxgzh.pojo.FreePlanning" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into free_planning
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userTelephone != null" >
        user_telephone,
      </if>
      <if test="autoCode != null" >
        auto_code,
      </if>
      <if test="videoType != null" >
        video_type,
      </if>
      <if test="makeBudget != null" >
        make_budget,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateName != null" >
        update_name,
      </if>
      <if test="delornot != null" >
        delOrNot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null" >
        #{userTelephone,jdbcType=VARCHAR},
      </if>
      <if test="autoCode != null" >
        #{autoCode,jdbcType=VARCHAR},
      </if>
      <if test="videoType != null" >
        #{videoType,jdbcType=VARCHAR},
      </if>
      <if test="makeBudget != null" >
        #{makeBudget,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="delornot != null" >
        #{delornot,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="msb.wxgzh.pojo.FreePlanning" >
    update free_planning
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null" >
        user_telephone = #{userTelephone,jdbcType=VARCHAR},
      </if>
      <if test="autoCode != null" >
        auto_code = #{autoCode,jdbcType=VARCHAR},
      </if>
      <if test="videoType != null" >
        video_type = #{videoType,jdbcType=VARCHAR},
      </if>
      <if test="makeBudget != null" >
        make_budget = #{makeBudget,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateName != null" >
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="delornot != null" >
        delOrNot = #{delornot,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="msb.wxgzh.pojo.FreePlanning" >
    update free_planning
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_telephone = #{userTelephone,jdbcType=VARCHAR},
      auto_code = #{autoCode,jdbcType=VARCHAR},
      video_type = #{videoType,jdbcType=VARCHAR},
      make_budget = #{makeBudget,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      delOrNot = #{delornot,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>